{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Data Warehouse",
    "license": {
      "name": "MIT"
    }
  },
  "host": "data-warehouse.com",
  "basePath": "/v1",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "tags": [
    {
      "name": "users",
      "description": "Users mafnament"
    },
    {
      "name": "regions",
      "description": "Region magnament"
    },
    {
      "name": "countries",
      "description": "Countries magnament"
    },
    {
      "name": "cities",
      "description": "Cities magnament"
    },
    {
      "name": "companies",
      "description": "Companies magnament"
    },
    {
      "name": "contacts",
      "description": "Contacts magnament"
    }
  ],
  "paths": {
    "/users": {
      "get": {
        "summary": "A list of all the users",
        "tags": [
          "users"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "a array of users",
            "headers": {
              "x-next": {
                "type": "string",
                "description": "A link to the next page of responses"
              }
            },
            "schema": {
              "$ref": "#/definitions/users"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "summary": "Create an user",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/user"
            }
          }
        ],
        "responses": {
          "201": {
            "description": ""
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/users/{user_id}": {
      "get": {
        "summary": "See my data",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "the id of the user to be modified",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested user",
            "schema": {
              "$ref": "#/definitions/user"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "put": {
        "summary": "Modify user",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "the id of the user to be modified",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "description": "user type object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/user"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "A message with the confirmation of update"
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a user",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "the id of the user to be deleted",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "user was successfully removed"
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/regions": {
      "get": {
        "summary": "A list of all the regions",
        "tags": [
          "regions"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "a array of regions",
            "headers": {
              "x-next": {
                "type": "string",
                "description": ""
              }
            },
            "schema": {
              "$ref": "#/definitions/region"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "summary": "regions",
        "tags": [
          "regions"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/region"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/regions/{region_id}": {
      "get": {
        "summary": "See my data",
        "tags": [
          "regions"
        ],
        "parameters": [
          {
            "name": "region_id",
            "in": "path",
            "description": "the id of the region to be modified",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested user",
            "schema": {
              "$ref": "#/definitions/region"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "put": {
        "summary": "Modify region",
        "tags": [
          "regions"
        ],
        "parameters": [
          {
            "name": "region_id",
            "in": "path",
            "description": "the id of the region to be modified",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "description": "user type object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/region"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "A message with the confirmation of update"
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a region",
        "tags": [
          "regions"
        ],
        "parameters": [
          {
            "name": "region_id",
            "in": "path",
            "description": "the id of the region to be deleted",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "region was successfully removed"
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/countries": {
      "get": {
        "summary": "A list of all the countries",
        "tags": [
          "countries"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "a array of countries",
            "headers": {
              "x-next": {
                "type": "string",
                "description": ""
              }
            },
            "schema": {
              "$ref": "#/definitions/countries"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "summary": "countries",
        "tags": [
          "countries"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/countries"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/countries/{country_id}": {
      "get": {
        "summary": "See my data",
        "tags": [
          "countries"
        ],
        "parameters": [
          {
            "name": "country_id",
            "in": "path",
            "description": "the id of the country to be modified",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested country",
            "schema": {
              "$ref": "#/definitions/countries"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "put": {
        "summary": "Modify country",
        "tags": [
          "countries"
        ],
        "parameters": [
          {
            "name": "country_id",
            "in": "path",
            "description": "the id of the country to be modified",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "description": "country type object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/countries"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "A message with the confirmation of update"
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a country",
        "tags": [
          "countries"
        ],
        "parameters": [
          {
            "name": "country_id",
            "in": "path",
            "description": "the id of the country to be deleted",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "region was successfully removed"
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/cities": {
      "get": {
        "summary": "A list of all the cities",
        "tags": [
          "cities"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "a array of cities",
            "headers": {
              "x-next": {
                "type": "string",
                "description": ""
              }
            },
            "schema": {
              "$ref": "#/definitions/cities"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "summary": "city",
        "tags": [
          "cities"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cities"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/cities/{city_id}": {
      "get": {
        "summary": "See my data",
        "tags": [
          "cities"
        ],
        "parameters": [
          {
            "name": "city_id",
            "in": "path",
            "description": "the id of the city to be modified",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested city",
            "schema": {
              "$ref": "#/definitions/cities"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "put": {
        "summary": "Modify city",
        "tags": [
          "cities"
        ],
        "parameters": [
          {
            "name": "city_id",
            "in": "path",
            "description": "the id of the city to be modified",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "description": "city type object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cities"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "A message with the confirmation of update"
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a city",
        "tags": [
          "cities"
        ],
        "parameters": [
          {
            "name": "city_id",
            "in": "path",
            "description": "the id of the city to be deleted",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "region was successfully removed"
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/companies": {
      "get": {
        "summary": "List of all companies",
        "tags": [
          "companies"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "a paged array of companies",
            "headers": {
              "x-next": {
                "type": "string",
                "description": "A link to the next page of responses"
              }
            },
            "schema": {
              "$ref": "#/definitions/companies"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "summary": "Create a company",
        "tags": [
          "companies"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Company type object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/company"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The Company created with Id",
            "schema": {
              "$ref": "#/definitions/company"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/companies/{company_id}": {
      "get": {
        "summary": "See my data",
        "tags": [
          "companies"
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "the id of the company to be modified",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested company",
            "schema": {
              "$ref": "#/definitions/company"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "put": {
        "summary": "Modify company",
        "tags": [
          "companies"
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "the id of the company to be modified",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "description": "company type object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/companies"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "A message with the confirmation of update"
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a company",
        "tags": [
          "companies"
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "the id of the company to be deleted",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "company was successfully removed"
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/contacts": {
      "get": {
        "summary": "A list of all the contacts",
        "tags": [
          "contacts"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "a array of contacts",
            "headers": {
              "x-next": {
                "type": "string",
                "description": "A link to the next page of responses"
              }
            },
            "schema": {
              "$ref": "#/definitions/contacts"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }

      },
      "post": {
        "summary": "Create a contacts",
        "tags": [
          "contacts"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "contact type object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/contacts"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The Company created with Id",
            "schema": {
              "$ref": "#/definitions/contacts"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/contacts/{contact_id}": {
      "get": {
        "summary": "See my data",
        "tags": [
          "contacts"
        ],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "description": "the id of the contact to be modified",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested contact",
            "schema": {
              "$ref": "#/definitions/contacts"
            }
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "put": {
        "summary": "Modify contact",
        "tags": [
          "contacts"
        ],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "description": "the id of the contact to be modified",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "body",
            "name": "body",
            "description": "contact type object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/contacts"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "A message with the confirmation of update"
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a contact",
        "tags": [
          "contacts"
        ],
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "description": "the id of the contact to be deleted",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "contact was successfully removed"
          },
          "default": {
            "description": "unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "loginBody": {
      "properties": {
        "email": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      }
    },
    "user": {
      "properties": {
        "userId": {
          "type": "number"
        },
        "name": {
          "type": "string"
        },
        "surname": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "profile": {
          "type": "string",
          "enum": [
            "ADMIN",
            "BASIC"
          ]
        },
        "phone": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      }
    },
    "users": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/user"
      }
    },
    "region": {
      "properties": {
        "region_id": {
          "type": "number"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "regions": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/region"
      }
    },
    "country": {
      "properties": {
        "country_id": {
          "type": "number"
        },
        "name": {
          "type": "string"
        },
        "region": {
          "type": "object"
        }
      }
    },
    "countries": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/country"
      }
    },
    "city": {
      "properties": {
        "city_id": {
          "type": "number"
        },
        "name": {
          "type": "string"
        },
        "country": {
          "type": "object"
        }
      }
    },
    "cities": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/city"
      }
    },
    "company": {
      "properties": {
        "company_id": {
          "type": "number"
        },
        "name": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "phone": {
          "type": "string"
        },
        "adress": {
          "type": "string"
        },
        "city": {
          "type": "object"
        }
      }
    },
    "companies": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/company"
      }
    },
    "contact": {
      "properties": {
        "contact_id": {
          "type": "number"
        },
        "name": {
          "type": "string"
        },
        "surname": {
          "type": "string"
        },
        "position": {
          "type": "string"
        },
        "company": {
          "type": "object"
        },
        "email": {
          "type": "string"
        },
        "city": {
          "type": "object"
        }
      }
    },
    "contacts": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/contact"
      }
    },
    "Error": {
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        }
      }
    }
  }
}